name: Docker

on:
  workflow_call:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0

      - name: Download a Build Artifact
        uses: actions/download-artifact@v7.0.0
        with:
          name: go_ci

      - name: Docker Login
        uses: docker/login-action@v3.7.0
        with:
            username: biancaramal
            password: ${{ secrets.PASSWORD_DOCKER_HUB}}

      - name: Build and push Docker images
        uses: docker/build-push-action@v6.19.2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: biancaramal/go_ci:${{ github.ref_name }}