name: Docker

on:
  workflow_call:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0

      - name: Docker Login
        uses: docker/login-action@v3.7.0
        with:
            username: biancaramal
            password: PASSWORD_DOCKER_HUB