name: Go

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: root
          POSTGRES_DB: root
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    strategy:
      matrix:
        go_version: ['1.18', '1.19']

    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go_version }}

      - name: Test
        env:
          DB_HOST: localhost
          DB_PORT: 5432
          DB_USER: root
          DB_PASSWORD: root
          DB_NAME: root
        run: go test -v ./...

  build:
    needs: test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ 'ubuntu-latest', 'ubuntu-22.04' ]
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: go build -v main.go

  docker:
    needs: build
    uses: ./.github/workflows/Docker.yml